

@model Hairdresser.Entities.Appointment  // Tekil personel modeli belirtiliyor


@{
    ViewData["Title"] = "UpdateAppoint";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1> Randevu Güncelle</h1>


<form asp-area="Admin" asp-controller="Apoint" asp-action="UpdateAppoint" method="post">
    <div asp-validation-summary="All"></div>


    <input type="hidden" asp-for="appointmentID" value="@Model.appointmentID" name="appointmentID" />

    <div class="mb-3">
        <label asp-for="customerName" class="form-label"> Müsteri Ad Soyad :</label>
        <input asp-for="customerName" value="@Model.customerName" name="customerName" class="form-control">
        <span asp-validation-for="customerName"></span>
    </div>

    <div class="mb-3">
        <label asp-for="phone" class="form-label"> Müsteri telefon :</label>
        <input type="tel" asp-for="phone" value="@Model.phone" name="phone" class="form-control">
        <span asp-validation-for="phone"></span>
    </div>
   @*  <div class="mb-3">
        <label asp-for="personnelName" class="form-label"> Personel Ad Soyad:</label>
        <input asp-for="personnelName" value="@Model.personnel?.personnelName" name="personnelName" class="form-control">
        <span asp-validation-summary="personnelName"></span>
    </div> *@




    @* <div class="form-group">
        <label asp-for="service">İşlem Seçiniz</label>
        <select class="form-control" asp-for="service" name="service">
            <option value="">İşlem Seçin</option>
            @foreach (var service in ViewBag.Services as List<Hairdresser.Entities.Service>)
            {
                // <option value="@service.serviceID">@service.serviceName</option>
                <option value="@service.serviceID"
                @(service.serviceID == Model.serviceID ? "selected" : "")>
                    @service.serviceName
                </option>
            }
        </select>
        <span asp-validation-for="service"  class="text-danger"></span>
    </div> *@


    <!-- Personel -->
    <div class="mb-3">
        <label asp-for="personnelID" class="form-label">Personel Seçin:</label>
        <select asp-for="personnelID" class="form-control" name="personnelID">
            <option value="">Personel Seçin</option>
            @foreach (var personnel in ViewBag.PersonnelList as List<Hairdresser.Entities.Personnel>)
            {
                <option value="@personnel.personnelID"
                @(personnel.personnelID == Model.personnelID ? "selected" : "")>
                    @personnel.personnelName
                </option>
            }
        </select>
        <span asp-validation-for="personnelID" class="text-danger"></span>
    </div>

    <!-- İşlem -->
    <div class="form-group">
        <label asp-for="serviceID">İşlem Seçiniz:</label>
        <select asp-for="serviceID" class="form-control" name="serviceID">
            <option value="">İşlem Seçin</option>
            @foreach (var service in ViewBag.Services as List<Hairdresser.Entities.Service>)
            {
                <option value="@service.serviceID"
                @(service.serviceID == Model.serviceID ? "selected" : "")>
                    @service.serviceName
                </option>
            }
        </select>
        <span asp-validation-for="serviceID" class="text-danger"></span>
    </div>


    <!-- Tarih -->
    <div class="form-group">
        <label asp-for="appointmentDate">Randevu Tarihi:</label>
        <input type="date" value="@Model.appointmentDate.ToString("yyyy-MM-dd")" class="form-control" name="appointmentDate" asp-for="appointmentDate" />
        <span asp-validation-for="appointmentDate"  class="text-danger"></span>
    </div>

    <!-- Saat -->
    <div class="form-group">
        <label asp-for="appointmentHour">Randevu Saati:</label>
        <input type="time" value="@Model.appointmentHour.ToString(@"hh\:mm")" class="form-control" name="appointmentHour" asp-for="appointmentHour" />
        <span asp-validation-for="appointmentHour"  class="text-danger"></span>
    </div>


  

    <button type="submit" class="btn btn-secondary">Güncelle</button>
</form>




